@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root {
  --white: hsl(0, 0%, 100%) ;
  --light-gray: hsl(212, 45%, 89%) ;
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 15px;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  background-color: var(--light-gray);
}

.main-container {
  background-color: var(--white);
 
  max-width: 400px;
  padding: 1em;
  margin: 9rem 3rem;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.img-container {
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.title {
  font-family:'Outfit', sans-serif ;
  font-weight: 700;
  font-size: 2rem;
  
}
.instructions { 

  text-indent: 8px ;
  color: var(--grayish-blue);
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;


}
@media only screen and (max-width:375px) {

    .main-container {
     width: 95%;
    }

    .title {
      font-size: 1.75rem;
    }

  }